@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Press+Start+2P&display=swap');

@import url(style/tecnologias.css);
@import url(style/footer.css);
@import url(style/main.css);

:root{

    --fote-de-titulo:'Press Start 2P', cursive;
    --fote-de-texto: 'Gruppo', cursive;

    --cor-titulos: rgba(31,29,54,1);
    --preto: #000000;
    
    --bg-footer: linear-gradient(126deg, rgba(31,29,54,1) 17%, rgba(75,70,130,1) 62%, rgba(67,66,79,1) 90%);
    /* --bg-main: linear-gradient(-225deg, #B958A5 0%, #9145B6 50%, #FF5677 100%); */
    /* --bg-main: linear-gradient(-225deg, #80033F 0%, #8D0B93 50%, #321575 100%); */
    --bg-main: linear-gradient(-225deg, #3F3351 0%, #864879 50%, #E9A6A6 100%);
    --primeira-cor-footer: rgba(31,29,54,1);
    --segunda-cor-footer:rgba(75,70,130,1);
    --terceira-cor-footer:rgba(67,66,79,1);
    
    --cor-footer:#4C3F91;
}

main{
    background: var(--bg-main);
    font-family: var(--fote-de-texto);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
}

.flex__container{
    display: flex;
}
.titulo{
    font-family: var(--fote-de-titulo);
    color: var(--cor-titulos);   
}
strong{
    font-weight: bold;
}
