.sobreMim-descricao{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 4rem;
}
.sobreMim-titulo{
    font-size: 2rem;
    text-decoration: underline;
    color: var(--cor-titulos);
    text-align: center;
}
.sobreMim-texto{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Certificados e diplomas */
.diplomas, .experiências, .soft__skills{
    flex-direction: column;
    width: 60%;
    margin: 0 auto 4rem auto;
    row-gap: 2rem;
}
.diplomas-titulo, .experiências-titulo, .soft__skills-titulo{
    font-size: 1.8rem;
}
.formacao-titulo, .certificados-titulo, .experiência-titulo{
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: .5em;
}
.formacao, .certificados{
    margin-left: 4rem;
}
.formacao-descricao, .certificados-descricao, .experiência-descricao, .soft__skill{
    font-size: 1.5rem;
    font-style: italic;
}
.experiência-cartas-titulo{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}
.soft__skill{
    margin-left: 4rem;
}